<% provide(:title, "メモ編集") %>
<div class="main">
  <div class="container">
    <h1>メモ編集</h1>
    <div class="form">
      <%= form_tag "/description/#{@description.id}/update" do %>
        タイトル：<input class="memoTitle" type="text" name="memoTitle" value="<%= @description.memoTitle %>"><br>
        重要度：
        <input type="radio" name="importance" value="1" checked>1
        <input type="radio" name="importance" value="2">2
        <input type="radio" name="importance" value="3">3
        <input type="radio" name="importance" value="4">4
        <input type="radio" name="importance" value="5">5
        <textarea name="content"><%= @description.content %></textarea>
        <input type="submit" value="編集する">
      <% end %>
    </div>
  </div>
</div>