<div class="main">
  <div class="container">
    <h1>メモ一覧</h1>
    <% @descriptions.each do |description| %>
      <div class="content-framework">
        <div class="content-title">
          <%= description.memoTitle %>
          <div class="btn details-btn"><%= link_to "詳細へ", "/description/#{description.id}/details" %></div>
        </div>
        <div class="content">
          <p><%= description.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>