<div class="main">
  <div class="container">
    <h1>新しくメモる</h1>
    <div class="form">
      <%= form_tag "/description/create" do %>
        <textarea name="content"></textarea>
        <input type="submit" value="メモる">
      <% end %>
    </div>
  </div>
</div>