<% provide(:title, "メモ一覧") %>
<div class="main">
  <div class="container">
    <h1>メモ一覧</h1>
      <% @descriptions.each do |description| %>
        <div class="content-framework">
          <div class="content-title">
            タイトル：<%= description.memoTitle %>
            <%= link_to description, class: "btn details-btn" do %>
              <i class="far fa-file-alt"></i> 詳細へ
            <% end %>
          </div>
          <div class="user-who-described">
            投稿者：<%= description.user.name %>
          </div>
          <p class="content"><%= description.content %></p>
        </div>
      <% end %>
  </div>
</div>