<% provide(:title, "ユーザー一覧") %>
<div class="main">
  <div class="container">
    <h1>ユーザー一覧</h1>
    <% @users.each do |user| %>
      <div class="content-framework">
        <div class="user-content">
          <span class="user-name"><%= user.name %></span>
          <%= link_to user, class: "btn details-btn" do %>
            <i class="fas fa-user"></i> 詳細へ
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>