<% provide(:title, "ユーザー詳細") %>
<div class="main">
  <div class="container">
    <h1>ユーザー詳細</h1>
      <div class="content-framework">
        <ul>
          <li><p class="user-name">名前：<%= @user.name %></p></li>
          <li><p class="user-email">メールアドレス：<%= @user.email %></p></li>
        </ul>
      </div>
      <div class="details-menu">
        <ul>
          <li class="btn">
            <i class="fas fa-user-edit"></i> 編集
          </li>
          <li class="btn">
            <i class="fas fa-trash-alt"></i> 削除
          </li>
        </ul>
      </div>
  </div>
</div>