/* 初期化 ======================================= */
html {
  background-color: #FFFAF0;
  font: 'Avenir Next', 'Hiragino Sans', sans-serif;
  color: dimgray;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: dimgray;
}

/* 共通レイアウト ================================ */
body {
  margin: 0;
}

.main {
  position: absolute;
  top: 80px;
  width: 100%;
}

.btn {
  background-color: #ffe4e1;
  color: dimgray;
  cursor: pointer;
  font-size: 16px;
  border: solid 2px dimgray;
  border-radius: 10px;
}

/* header ======================================== */
header {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
  color: dimgray;
  background-color: pink;
}

header .logo {
  float: left;
  padding-left: 10px;
  font-size: 22px;
  line-height: 60px;
}

.menu-bar {
  float: right;
  padding-right: 20px;
}

.menu-bar li {
  float: right;
  line-height: 60px;
  padding-left: 20px;
}

/* form =============================================== */
.form {
  margin: 5px auto;
  max-width: 600px;
  .memoTitle {
    font-size: 16px;
    border: solid 2px dimgray;
    width: 50%;
    margin-bottom: 5px;
    line-height: 25px;
  }
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  border: solid 2px dimgray;
}

.form input[type="submit"] {
  background-color: #ffe4e1;
  color: dimgray;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  margin-top: 8px;
  float: right;
  border-radius: 10px;
  border: solid 2px dimgray;
}

.error-message {
  color: red;
}