// Place all the styles related to the description controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* メモの内容について ==================================== */

.content-framework {
  .all-delete-function{
    float: left;
  }
  .content-title {
    border-bottom: solid 1px dimgray;
    padding-bottom: 10px;
    font-size: 18px;
  }
  .user-who-described{
    border-bottom: solid 1px dimgray;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
  }
  .importance{
    margin: 10px 0;
    ul, li {
      margin-right: 3px;
      display: inline;
    }
  }
  .content {
    width: 100%;
    margin: 25px 0;
    p {
      font-size: 16px;
    }
  }
  .created-datetime{
    border-top: solid 1px dimgray;
    padding-top: 10px;
  }
}