// Place all the styles related to the description controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* メモの内容について ==================================== */

.container {
  width: 60%;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 28px;
}

.content-framework {
  border :solid 1.5px dimgray;
  margin: 6px 0;
  padding: 15px 30px;
  background-color: white;
  overflow: auto;
  .content-title{
    border-bottom: solid 1px dimgray;
    font-size: 18px;
  }
  .content {
    float: left;
    width: 100%;
    p {
      font-size: 16px;
    }
  }
}

/* 詳細ページ =========================================*/
.details-menu {
  float: right;
  li {
    float: left;
    margin: 5px 0 5px 20px;
    padding: 2px 15px;
  }
}