// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home-title {
  font-size: 64px;
  padding-top: 30px;
}

#home-sub-title {
  text-align: center;
  font-size: 30px;
}